
#
*.a
*.app
build/
### C ###
### C++ ###
### CMake ###
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeScripts
CMake/tmp
*.cmd
compile_commands.json
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
conanbuildinfo.cmake
conaninfo.txt
# Created by https://www.gitignore.io/api/c,c++,cmake
CTestTestfile.cmake
*.d
# Debug files
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
# End of https://www.gitignore.io/api/c,c++,cmake
*.exe
# Executables
*.exp
# Fortran module files
*.gch
*.hex
*.i*86
*.idb
.idea
*.ilk
install_manifest.txt
# Kernel Module Compile Results
*.ko
*.la
*.lai
*.lib
# Libraries
# Linker output
*.lo
Makefile
*.map
Mkfile.old
*.mod
*.mod*
modules.order
Module.symvers
*.o
*.obj
# Object files
*.out
*.pch
*.pdb
# Precompiled Headers
# Prerequisites
SETUP/
# Shared objects (inc. Windows DLLs)
*.slo
*.smod
*.so
*.so.*
*.su
Testing
.tmp_versions/
*.x86_64
